.h {
  font-family: sans-serif;
  /*width: 50%;
  margin: 0 auto;*/
  text-align: left;
  font-size:x-large;
  
}

.linkdiv {
  font-family: sans-serif;
  /*margin: auto;
  width: 50%;*/
  text-align: left;
  display: flex;
  gap: 10px;
}

.links {
  color: whitesmoke;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration:none;
  color: grey
  
}